doctype html
html
  head
    title Finance
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    
    style
      :stylus
        body, input
          background-color #1c1c1c
          color #ddd
        
        .flex-container
          display flex
          flex-flow row wrap
      
        form
          &:valid fieldset
            border-color lime
            
          label
            margin 3px 0
            
            display block
            text-align right
            
            input
              width 70%
              margin-left 5px
              
          button
            display block
            margin-left auto
        
        #dbdump
          
          .del
            color red
            font-weight bold
            cursor pointer
            &::before
              content " X"
  body
    script(src='jspm_packages/system.js')
    script(src='config.js')
    script.
      'use strict';
      System.import('app/main');
      